{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />    
    <title>Mapa de Conflitos Ambientais da Região dos Lagos</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static '/js/leaflet.browser.print.min.js' %}"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <link rel="stylesheet" href="{% static '/css/map.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/leaflet.markercluster.js"></script>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.Default.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>  <header class="header">
    <div class="logo">
      <a href="{% url 'markers:markersmapview' %}"><img src="{% static '/assets/Logo.svg'%}" alt=""></a>
      <a class="logo-texto" href="{% url 'markers:markersmapview' %}">Conflitos<span>Ambientais</span></a>
    </div>

    <nav class="navbar">
      <a href="{% url 'markers:markersmapview' %}">Início</a>
      <a href="{% url 'posts:lista_posts' %}">Artigos</a>
      <a href="#">Sobre Nós</a>
      <a href="#">Contate-nos</a>
    </nav>

    <div class="fa-solid fa-bars" id="menu-icon"></div>
  </header>

  <div class="mapa">
    <h1>Conflitos Ambientais na Região Dos Lagos</h1>
    {{ markers|json_script:'markers-data' }}
    <div id="map">
      <div class="leaflet-control full-screen" onclick=fullScreenView()>
        <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-arrows-fullscreen" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707zm4.344 0a.5.5 0 0 1 .707 0l4.096 4.096V11.5a.5.5 0 1 1 1 0v3.975a.5.5 0 0 1-.5.5H11.5a.5.5 0 0 1 0-1h2.768l-4.096-4.096a.5.5 0 0 1 0-.707zm0-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707zm-4.344 0a.5.5 0 0 1-.707 0L1.025 1.732V4.5a.5.5 0 0 1-1 0V.525a.5.5 0 0 1 .5-.5H4.5a.5.5 0 0 1 0 1H1.732l4.096 4.096a.5.5 0 0 1 0 .707z" />
        </svg>
    </div>

    <div class="leaflet-control zoom-to-layer">
      <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-house-door" fill="currentColor"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
              d="M7.646 1.146a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5H9.5a.5.5 0 0 1-.5-.5v-4H7v4a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6zM2.5 7.707V14H6v-4a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v4h3.5V7.707L8 2.207l-5.5 5.5z" />
          <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
      </svg>
  </div>
    </div>
  </div>

  <section class="container-legenda">
    <div class="conteudo-legenda">

      <div class="legenda-titulo">
        <img src="{% static '/assets/Pin.svg'%}"">
        <h1>Classificação de Risco</h1>
      </div>

      <div class="lista-pins">
        <div class="pin">
          <div class="pin-image">
          </div>
          <div class="pin-texto">
            <div class="pin-titulo">
              <h1>Muito Alto</h1>
            </div>
            <div class="pin-paragrafo">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius accusamus veniam sed
                laborum nemo. Explicabo molestiae itaque adipisci dignissimos quam ea eius ratione
                incidunt maxime! Quos officia rem maxime id. Lorem ipsum dolor sit amet consectetur,
                adipisicing elit. Unde vitae nisi explicabo nemo incidunt ex aut, alias, asperiores
                itaque ea dicta corporis ipsam! Doloribus corrupti assumenda dolore rem similique
                consequatur. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus, omnis
                alias rem quam a fuga et soluta obcaecati excepturi pariatur? Quo rerum distinctio ab
                eos temporibus. Harum dolore voluptates facilis!

              </p>
            </div>
          </div>
        </div>


        <div class="pin">
          <div class="pin-image">
          </div>
          <div class="pin-texto">
            <div class="pin-titulo">
              <h1>Alto</h1>
            </div>
            <div class="pin-paragrafo">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis similique placeat commodi
                id distinctio cum totam unde. Possimus laboriosam voluptates debitis necessitatibus
                nihil. Odit repellat doloribus et blanditiis veritatis architecto? Lorem ipsum dolor sit
                amet, consectetur adipisicing elit. Sequi eligendi cum est architecto beatae. Error
                repellendus quod ea, accusamus earum rerum exercitationem, harum hic laborum quisquam ut
                nesciunt doloremque repellat.</p>
            </div>
          </div>
        </div>


        <div class="pin">
          <div class="pin-image">
          </div>
          <div class="pin-texto">
            <div class="pin-titulo">
              <h1>Moderado</h1>
            </div>
            <div class="pin-paragrafo">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius accusamus veniam sed
                laborum nemo. Explicabo molestiae itaque adipisci dignissimos quam ea eius ratione
                incidunt maxime! Quos officia rem maxime id. Lorem ipsum dolor sit amet consectetur,
                adipisicing elit. Unde vitae nisi explicabo nemo incidunt ex aut, alias, asperiores
                itaque ea dicta corporis ipsam! Doloribus corrupti assumenda dolore rem similique
                consequatur. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus, omnis
                alias rem quam a fuga et soluta obcaecati excepturi pariatur? Quo rerum distinctio ab
                eos temporibus. Harum dolore voluptates facilis!</p>
            </div>
          </div>
        </div>


        <div class="pin">
          <div class="pin-image">
          </div>
          <div class="pin-texto">
            <div class="pin-titulo">
              <h1>Baixo</h1>
            </div>
            <div class="pin-paragrafo">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius accusamus veniam sed
                laborum nemo. Explicabo molestiae itaque adipisci dignissimos quam ea eius ratione
                incidunt maxime! Quos officia rem maxime id. Lorem ipsum dolor sit amet consectetur,
                adipisicing elit. Unde vitae nisi explicabo nemo incidunt ex aut, alias, asperiores
                itaque ea dicta corporis ipsam! Doloribus corrupti assumenda dolore rem similique
                consequatur. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus, omnis
                alias rem quam a fuga et soluta obcaecati excepturi pariatur? Quo rerum distinctio ab
                eos temporibus. Harum dolore voluptates facilis!</p>
            </div>
          </div>
        </div>


        <div class="pin">
          <div class="pin-image">

          </div>
          <div class="pin-texto">
            <div class="pin-titulo">
              <h1>Muito Baixo</h1>
            </div>
            <div class="pin-paragrafo">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius accusamus veniam sed
                laborum nemo. Explicabo molestiae itaque adipisci dignissimos quam ea eius ratione
                incidunt maxime! Quos officia rem maxime id. Lorem ipsum dolor sit amet consectetur,
                adipisicing elit. Unde vitae nisi explicabo nemo incidunt ex aut, alias, asperiores
                itaque ea dicta corporis ipsam! Doloribus corrupti assumenda dolore rem similique
                consequatur. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus, omnis
                alias rem quam a fuga et soluta obcaecati excepturi pariatur? Quo rerum distinctio ab
                eos temporibus. Harum dolore voluptates facilis!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container-cards">
    <h1 class="container-cards-titulo">Artigos Utilizados</h1>
    <div class="conteudo-cards">
      <div class="card">
        <img class="card-img" src="https://cdn.pensador.com/img/authors/mi/ch/michel-foucault-l.jpg" alt="">
        <div class="card-body">
          <h1 class="card-title">Foucault</h1>
          <p class="card-sub-title">Em Defesa da Sociedade</p>
          <p class="card-info">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis possimus
            facere eaque expedita, iure tempore reprehenderit quo labore mollitia, eligendi vitae tempora,
            blanditiis fuga consequatur officia error aspernatur optio impedit?</p>

          <button class="card-btn">Ver Mais</button>
        </div>
      </div>
      <div class="card">
        <img class="card-img" src="https://gripinequality.org/wp-content/uploads/2020/08/Maria-Paula-Meneses-scaled.jpg"
          alt="">
        <div class="card-body">
          <h1 class="card-title">Maria Paula</h1>
          <p class="card-sub-title"></p>
          <p class="card-info">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis possimus
            facere eaque expedita, iure tempore reprehenderit quo labore mollitia, eligendi vitae tempora,
            blanditiis fuga consequatur officia error aspernatur optio impedit?</p>

          <button class="card-btn">Book Tour</button>
        </div>
      </div>
      <div class="card">
        <img class="card-img" src="https://planksun.blob.core.windows.net/sun-site-files/706/437-6.jpg" alt="">
        <div class="card-body">
          <h1 class="card-title">Robert Bullard</h1>
          <p class="card-sub-title"></p>
          <p class="card-info">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis possimus
            facere eaque expedita, iure tempore reprehenderit quo labore mollitia, eligendi vitae tempora,
            blanditiis fuga consequatur officia error aspernatur optio impedit?</p>

          <button class="card-btn">Book Tour</button>
        </div>
      </div>
      <div class="card">
        <img class="card-img" src="https://cdl-static.s3-sa-east-1.amazonaws.com/colaboradores/02487_gg.jpg" alt="">
        <div class="card-body">
          <h1 class="card-title">Angela Alonso</h1>
          <p class="card-sub-title"></p>
          <p class="card-info">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis possimus
            facere eaque expedita, iure tempore reprehenderit quo labore mollitia, eligendi vitae tempora,
            blanditiis fuga consequatur officia error aspernatur optio impedit?</p>

          <button class="card-btn">Book Tour</button>
        </div>
      </div>

    </div>
  </section>
    

    <script src="{% static '/js/map.js' %}"></script>
    <script src="{% static '/js/MenuIcon.js' %}"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
    
</body>
</html>